In [ ]:
#Empty list
my_list = []

#List of fruits
fruits = ["apple", "banana"]

#List of numbers 
scores = [34, 23, 43]

In [3]:
#List of fruits
fruits = ["apple", "banana", "date"]

#Accesing items
print(fruits[0])
print(fruits[2])
print(fruits[-1])

#Slicing (start:end)
print(fruits[1:3])
print(fruits[:2])
print(fruits[1:2])

apple
date
date
['banana', 'date']
['apple', 'banana']
['banana']

In [5]:
#Adds items to the end of the list
fruits = ["apple", "banana"]
fruits.append("orrange")
print(fruits)

['apple', 'banana', 'orrange']

In [6]:
#Removes the first matching item by value
fruits = ["apple", "banana", "apple"]
fruits.remove("apple")
print(fruits)

['banana', 'apple']

In [8]:
#removes and returns an item by index (default: last item)
fruits = ["apple", "banana", "orange"]
last = fruits.pop()
print(fruits)

['apple', 'banana']

In [13]:
#Sorting list
numbers = [5, 2, 8, 1, 9]
numbers.sort()
print(numbers)

#Reverse order
numbers.sort(reverse=True)
print(numbers)

#Alphabetical 
fruits = ["cherry", "apple"]
fruits.sort()
print(fruits)

[1, 2, 5, 8, 9]
[9, 8, 5, 2, 1]
['apple', 'cherry']

In [ ]:
#sorted() creates new list
numbers = [5, 2, 8, 1, 9]
sorted_nums = sorted(numbers)
print(numbers) # [5, 2, 8, 1, 9]
print(sorted_nums) # [1, 2, 5, 8, 9]
# Also works with reverse
sorted_desc = sorted(numbers, reverse=True)
# [9, 8, 5, 2, 1]

In [15]:
#Collect fav colours
shopping = []
print("Enter 2 items.")

item1 = input("item 1:")
shopping.append(item1)
item2 = input("item 2:")
shopping.append(item2)

print("Your items are: ", shopping)

Enter 2 items.

item 1: Bread
item 2: Salad

Your items are:  ['Bread', 'Salad']

In [ ]:
# Empty tuple  ###Tuples are immutable
# You CANNOT add items to the tuples
empty = ()

# Single item (note the comma!)
single = (5,)

# Multiple items
coordinates = (51.5074, -0.1278)

# Without parentheses (also valid)
colours = 255, 128, 0

# Mixed types
person = ("Alice", 14, "Year 9")

In [ ]:
user_record = ("alice", "success", "10:03")

# Access by index
username = user_record[0]
print(username) # "alice"

status = user_record[1]
print(status) # "success"

# Negative indexing
time = user_record[-1]
print(time) # "10:03"

In [18]:
# Create a login record tuple
user_record = ("Vi", "success", "9:23")
# Access individual elements
print("Username:", user_record[0])
print("Status:", user_record[1])
print("Time:", user_record[2])
# Try to change it (this will cause an error!)
# user_record[0] = "bob" # TypeError: 'tuple' object does not support item assignment
# Create another record
failed_login = ("Jayce", "failed", "10:15")
print("\nSecond record:", failed_login)

Username: Vi
Status: success
Time: 9:23

Second record: ('Jayce', 'failed', '10:15')

In [19]:
#Tuple unpacking

# Create a tuple
user_record = ("alice", "success", "10:03")
# Unpack into variables
name, status, time = user_record
print("User:", name)
print("Result:", status)
print("Login time:", time)

User: alice
Result: success
Login time: 10:03

In [20]:
#More examples 

# Coordinates
x, y = (100, 200)
print(f"Position: ({x}, {y})")
# RGB colour
red, green, blue = (255, 128, 0)
print(f"RGB: {red}, {green}, {blue}")
# Date
day, month, year = (15, 3, 2024)
print(f"Date: {day}/{month}/{year}")

Position: (100, 200)
RGB: 255, 128, 0
Date: 15/3/2024

In [21]:
record = ("Alice", 85, "Pass")
name = record[0]

In [23]:
#Sets -> automatically removes duplicate values!!!

# Empty set (must use set())
empty = set()

# Set with items
fruits = {"apple", "banana", "cherry"}

# From a list (removes duplicates)
numbers = [1, 2, 2, 3, 3, 3, 4]
unique_nums = set(numbers)
print(unique_nums) # {1, 2, 3, 4}

# Direct creation
colours = {"red", "green", "blue"}

#Adds a singel item to the set
fruits = {"apple", "banana"}
fruits.add("orange")
fruits.add("apple") # No effect
print(fruits)
# {'apple', 'banana', 'orange'}


#Removes an item. Raises an error if the item doesnt exist
fruits = {"apple", "banana", "orange"}
fruits.remove("banana")
print(fruits)
# {'apple', 'orange'}
# fruits.remove("grape") # Error!

#Removes an item if it exists. No errorif the item isnt found
fruits = {"apple", "banana"}
fruits.discard("banana")
fruits.discard("grape") # No error
print(fruits)
# {'apple'}

{1, 2, 3, 4}
{'orange', 'banana', 'apple'}
{'orange', 'apple'}
{'apple'}

In [22]:
#Detecting unique elements

# List with many duplicates
login_attempts = [
 "alice", "bob", "alice",
 "charlie", "alice", "bob",
 "diana", "alice", "charlie"
]

# Convert to set to find unique users
unique_users = set(login_attempts)
print("Unique users:", unique_users)
print("Number of unique users:", len(unique_users))

Unique users: {'bob', 'charlie', 'diana', 'alice'}
Number of unique users: 4

In [24]:
#Demo: Unique words in a sentence

# Sample sentence with duplicate words
sentence = "this is a sentence with duplicate words words"

# Split into words and convert to set
words_list = sentence.split()
unique_words = set(words_list)
print("Original sentence:", sentence)
print("All words:", words_list)
print("Unique words:", unique_words)
print("Total words:", len(words_list))
print("Unique word count:", len(unique_words))

Original sentence: this is a sentence with duplicate words words
All words: ['this', 'is', 'a', 'sentence', 'with', 'duplicate', 'words', 'words']
Unique words: {'words', 'sentence', 'duplicate', 'this', 'a', 'is', 'with'}
Total words: 8
Unique word count: 7

In [ ]:
### DICTIONARIES

# Empty dictionary
empty = {}
# Student information
student = {
 "name": "Alice",
 "age": 14,
 "year": 9
}
# Product prices
prices = {
 "apple": 0.50,
 "banana": 0.30,
 "orange": 0.75
}
# Using numbers as keys
scores = {
 1: "Alice",
 2: "Bob",
 3: "Charlie"
}

In [25]:
# Create a dictionary
user_scores = {"alice": 3, "bob": 5, "charlie": 2}
# ACCESS: Get a value using a key -> alice is the key
alice_score = user_scores["alice"]
print("Alice's score:", alice_score) # 3
# INSERT: Add a new key-value pair
user_scores["diana"] = 7
print("After adding Diana:", user_scores)
# UPDATE: Change an existing value
user_scores["bob"] = 8
print("After updating Bob:", user_scores)
# Safe access with .get() (returns None if key doesn't exist)
emma_score = user_scores.get("emma")
print("Emma's score:", emma_score) # None
# .get() with default value
fred_score = user_scores.get("fred", 0)
print("Fred's score (default):", fred_score) # 0

Alice's score: 3
After adding Diana: {'alice': 3, 'bob': 5, 'charlie': 2, 'diana': 7}
After updating Bob: {'alice': 3, 'bob': 8, 'charlie': 2, 'diana': 7}
Emma's score: None
Fred's score (default): 0

In [27]:
### LOOPING THROUTGH A DICTIONARY


#Loop through keys
scores = {"alice": 85, "bob": 92, "charlie": 78}
for name, score in scores.items():
 print(f"{name}: {score}")

alice: 85
bob: 92
charlie: 78

In [28]:
# Demo: User Scores Dictionary

# Create initial scores
user_scores = {"alice": 3, "bob": 5}
print("Initial scores:", user_scores)

# Add a new player
user_scores["charlie"] = 2
print("After adding Charlie:", user_scores)

# Update Alice's score
user_scores["alice"] = 7
print("After Alice scores more:", user_scores)

# Add multiple players
user_scores["diana"] = 9
user_scores["emma"] = 4
print("Final scores:", user_scores)

# Display all scores nicely
print("\n=== SCOREBOARD ===")
for player, score in user_scores.items():
 print(f"{player.capitalize()}: {score} points")

Initial scores: {'alice': 3, 'bob': 5}
After adding Charlie: {'alice': 3, 'bob': 5, 'charlie': 2}
After Alice scores more: {'alice': 7, 'bob': 5, 'charlie': 2}
Final scores: {'alice': 7, 'bob': 5, 'charlie': 2, 'diana': 9, 'emma': 4}

=== SCOREBOARD ===
Alice: 7 points
Bob: 5 points
Charlie: 2 points
Diana: 9 points
Emma: 4 points

In [29]:
### Practical example: word count

sentence = "the cat and the dog and the bird"
words = sentence.split()

# Create empty dictionary
word_count = {}

# Count each word
for word in words:
 if word in word_count:
 word_count[word] = word_count[word] + 1
 else:
 word_count[word] = 1

# Display results
print("Word frequencies:")
for word, count in word_count.items():
 print(f"'{word}': {count}")

'''How It Works
Start with empty dictionary1.
For each word, check if it exists2.
If yes, increment count3.
If no, set count to 14.
Display final counts''' !

IndentationError: expected an indented block after 'if' statement on line 11 (280126783.py, line 12)

In [35]:
###SOLVIG THE DATA TRANSFORMATION PROBLEM
# Sample raw data
raw_data = """alice,success
bob,failed
alice,failed
diana,success
"""

# Split into lines
lines = raw_data.strip().split('\n')
print(f"Lines: {lines}")

# Example of splitting a single line
first_line_parts = lines[0].split(',')
print(f"First line parts: {first_line_parts}")

#Create a new dictionary
user_attempts = {}
print(f"Initial dictionary: {user_attempts}")

# Process each line
for line in lines:
    username, status = line.split(',') # status is not used for counting attempts, but parsed
    user_attempts[username] = user_attempts.get(username, 0) + 1 # Increment count

print(f"Final user attempts: {user_attempts}")

Lines: ['alice,success', 'bob,failed', 'alice,failed', 'diana,success']
First line parts: ['alice', 'success']
Initial dictionary: {}
Final user attempts: {'alice': 2, 'bob': 1, 'diana': 1}

In [36]:
### EXAMPLE DATA: LOGIN ATTEMPTS
# Our raw data: list of tuples
login_attempts = [
 ("alice", "success"),
 ("bob", "failed"),
 ("alice", "failed"),
 ("dana", "success"),
 ("bob", "success"),
 ("alice", "success"),
 ("charlie", "failed"),
 ("dana", "failed")
]
print("Total attempts:", len(login_attempts))
print("\nFirst few attempts:")
for i in range(3):
    username, result = login_attempts[i]
    print(f" {username}: {result}")

Total attempts: 8

First few attempts:
 alice: success
 bob: failed
 alice: failed

In [62]:
###FUNCTION & DICTIONARIES
def summarize_attempts(attempts):
 """Count total login attempts per user"""
 summary = {}

for user, result in attempts:
 # If user exists, increment count
 # If user is new, start at 1
    if user in summary:
        summary[user] = summary[user] + 1
    else:
        summary[user] = 1
return summary
    
# Our data
login_attempts = [
 ("alice", "success"),
 ("bob", "failed"),
 ("alice", "failed"),
 ("dana", "success"),
 ("bob", "success"),
 ("alice", "success")
]
# Call the function
result = summarize_attempts(login_attempts)
print(result)

NameError: name 'attempts' is not defined

In [ ]:
###EXPLANATION OF get.() METHOD

scores = {"alice": 10, "bob": 15}
# This works
print(scores["alice"]) # 10
# This causes an error!
print(scores["charlie"])
# KeyError: 'charlie'

In [65]:
#<THE SOLUTION

scores = {"alice": 10, "bob": 15}
# Safe access (returns None)
charlie = scores.get("charlie")
print(charlie) # None

# With default value
charlie = scores.get("charlie", 0)
print(charlie) # 0

None
0

In [75]:
def summarize_attempts(attempts):
 summary = {}
 for user, result in attempts:
     summary[user] = summary.get(user, 0) + 1
 return summary
# Data
login_attempts = [
 ("alice", "success"), ("bob", "failed"), ("alice", "failed"),
 ("dana", "success"), ("bob", "success"), ("alice", "success")
]
# Get summary
result = summarize_attempts(login_attempts)
# Format output nicely
print("=" * 40)
print(" LOGIN ATTEMPT SUMMARY")
print("=" * 40)
for user, count in result.items():
 print(f"{user.capitalize():.<20} {count:>3} attempts")
print("=" * 40)
print(f"Total unique users: {len(result)}")

========================================
 LOGIN ATTEMPT SUMMARY
========================================
Alice...............   3 attempts
Bob.................   2 attempts
Dana................   1 attempts
========================================
Total unique users: 3

In [76]:
### USING COUNTER

In [77]:
#Manual Method
logins = ["alice", "bob", "alice",
 "alice", "charlie"]
counts = {}
for user in logins:
 counts[user] = counts.get(user, 0) + 1
print(counts)
# {'alice': 3, 'bob': 1, 'charlie': 1}

{'alice': 3, 'bob': 1, 'charlie': 1}

In [78]:
#Using counter (Professional)

from collections import Counter
logins = ["alice", "bob", "alice",
 "alice", "charlie"]
counts = Counter(logins)
print(counts)
# Counter({'alice': 3, 'bob': 1,
# 'charlie': 1})

Counter({'alice': 3, 'bob': 1, 'charlie': 1})

In [81]:
from collections import Counter

# Count login attempts
login_attempts = ["alice", "bob", "alice", "charlie", "alice", "bob", "diana"]
counts = Counter(login_attempts)

# Most common users
print("Top 2 users:")
print(counts.most_common(2))
# [('alice', 3), ('bob', 2)]

# Total count
print("Total attempts:", sum(counts.values()))

# Add more data
more_logins = ["alice", "emma", "charlie"]
counts.update(more_logins)
print("Updated counts:", counts)

# Find users with exactly 2 attempts
for user, count in counts.items():
 if count == 2:
     print(f"{user} logged in exactly twice")

Top 2 users:
[('alice', 3), ('bob', 2)]
Total attempts: 7
Updated counts: Counter({'alice': 4, 'bob': 2, 'charlie': 2, 'diana': 1, 'emma': 1})
bob logged in exactly twice
charlie logged in exactly twice

In [82]:
### JSON
#Example
{
 "students": [
 {
 "name": "Alice",
 "age": 14,
 "scores": [85, 92, 88]
 },
 {
 "name": "Bob",
 "age": 14,
 "scores": [78, 85, 90]
 }
 ],
 "class": "Year 9",
 "term": "Autumn 2024"
}

{'students': [{'name': 'Alice', 'age': 14, 'scores': [85, 92, 88]},
  {'name': 'Bob', 'age': 14, 'scores': [78, 85, 90]}],
 'class': 'Year 9',
 'term': 'Autumn 2024'}

In [84]:
#DEMO: SAVING A DICTIONARY TO JSON
import json
# Our data
user_scores = {
 "alice": 3,
 "bob": 5,
 "charlie": 2,
 "diana": 7
}
# Save to file
with open("scores.json", "w") as file:
 json.dump(user_scores, file, indent=4)
print("Data saved to scores.json")
# What the file contains:
# {
# "alice": 3,
# "bob": 5,
# "charlie": 2,
# "diana": 7
# }

Data saved to scores.json

In [85]:
import json
# Load from file
with open("scores.json", "r") as file:
 loaded_scores = json.load(file)
print("Loaded data:", loaded_scores)
print("Type:", type(loaded_scores))
# Use the data normally
for user, score in loaded_scores.items():
 print(f"{user}: {score}")
# Modify and save again
loaded_scores["emma"] = 4
with open("scores.json", "w") as file:
 json.dump(loaded_scores, file, indent=4)

print("Updated data saved!")

Loaded data: {'alice': 3, 'bob': 5, 'charlie': 2, 'diana': 7}
Type: <class 'dict'>
alice: 3
bob: 5
charlie: 2
diana: 7
Updated data saved!